/* general */
@import '//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900';

html {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, 'Lucidia Grande', Sans-serif;
}

html, body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button, input, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

a, button, input[type=submit] {
  cursor: pointer;
}

.header {
  font-size: 2.5em;
  margin: 5px;
}

.subheader {
  font-size: 2em;
}

/* cards */

/* draft */
.draft-controls {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin: 0 10px;
  padding-top: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.draft-control {
  display: flex;
  align-items: center;
  margin: 0 0 5px 10px;
}

.draft-num-drafters {
  width: 25px;
  margin-left: 5px;
}

/* sealed */

/* board */
.board {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  border-top: 1px solid black;
}

.board-header {
  font-size: 1.5em;
  margin: 0 0 10px;
}

.board-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  margin: 10px;
}

.board-subheader, .board-control {
  margin: 0 10px 0 0;
}

.board-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.board-cards.rows, .board-cards.columns .cards {
  flex-flow: row wrap;
}

.board-cards.columns, .board-cards.rows .cards {
  flex-flow: column nowrap;
}

.board-cards.compact .card {
  position: relative;
  height: 280px;
  min-height: 280px;
  padding: 0;
  border: 0px;
}

.board-cards.compact .card:hover {
  z-index: 1;
}

.board-cards.compact .card:not(:first-child) {
  margin-top: -256px;
}

.board-cards.compact .card-name,
.board-cards.compact .card-rarity {
  display: none;
}


/* card */
.card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card {
  flex: 0 0 200px;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 335px;
  margin: 10px;
  border: 1px solid #000;
}

.card.mythic {
  border-color: #e8861e;
  box-shadow: 1px 1px 2px #e8861e;
}

.card.rare {
  border-color: #d2c05b;
  box-shadow: 1px 1px 2px #d2c05b;
}

.card.uncommon {
  border-color: #dcdcdd;
  box-shadow: 1px 1px 2px #dcdcdd;
}

.card.common {
  border-color: #102030;
  box-shadow: 1px 1px 2px #102030;
}

.card-name {
  margin: 0;
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
}

.card-rarity {
  margin: 0 5px;
  font-size: 1em;
}

.card-image {
  flex: 0 0 auto;
  max-width: 200px;
}

/* card-group */
.card-group {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin: 10px 0;
}

.card-group.hide .card {
  display: none;
}

.card-group-name {
  margin: 0 10px 0 0;
}

.card-group > .cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* cards-list */
.cards-list {
  width: 350px;
  height: 286px;
}

